<h3><%= @review.dish.name %></h3>

<form method="post" action="/reviews/<%=@review.id%>" id="review_form">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Dish Name: <br><input type="text" name="dish[name]" value="<%= @review.dish.name %>"><br><p>
  <p>Price: <br><input type="number" name="dish[price]" value="<%= @review.dish.price%>"><br></p>

  <p>Restaurant Name: <br>
  <input type="text" name="restaurant" value="<%= @review.dish.restaurant.name %>"><br></p>

  <p>Restaurant City: <br>
  <input type="text" name="city" value="<%= @review.dish.restaurant.city.name %>"><br></p>
  <p>Vegetarian?
  <input type="hidden" value="0" name="dish[vegetarian]">
  <input type="checkbox" value="1" name="dish[vegetarian]" <% if @review.dish.vegetarian == true %> checked <% end %>><br></p>
  <p>Gluten-Free?
  <input type="hidden" value="0" name="dish[gluten_free]">
  <input type="checkbox" value="1" name="dish[gluten_free]" <% if @review.dish.gluten_free == true %> checked <% end %>><br></p>

  Review:<br>
  <textarea rows="7" cols="50" name="content" form="review_form"><%= @review.content %></textarea><br>

  <input class="btn btn-warning btn-sm" type="submit" value="submit">
</form>