<h4><%= @review.dish.name %></h4>
<h5>
	<%= @review.dish.restaurant.name %> | <%= @review.dish.restaurant.city.name %> | $<%= @review.dish.price %>
	<% if @review.dish.vegetarian == true %>
			<%= " | V " %>
		<% end %>
		<% if @review.dish.gluten_free == true %>
			<%= " | GF " %>
	<% end %>
</h5>
<p><%= @review.content %></p>
<p>updated on <%= @review.updated_at.strftime("%_m/%_d/%Y") %> by <%= @review.user.username %></p>

<% if logged_in?  && current_user.username == @review.user.username %>
	
	<form method="get" action="/reviews/<%=@review.id%>/edit">
	  <input class="btn btn-primary btn-sm" type="submit" value="Edit">
	</form> <br>

	<form method="post" action="/reviews/<%=@review.id%>/delete">
	  <input id="hidden" type="hidden" name="_method" value="DELETE">
	  <input class="btn btn-danger btn-sm" type="submit" value="Delete">
	</form>
<% end %>